{{- /* 站内搜索索引条目：标题/类型/url/面包屑/描述 */ -}}
{{- $tp := .Type -}}
{{- $crumb := "" -}}
{{- with .File -}}
  {{- $dir := strings.TrimSuffix "/" .Dir -}}
  {{- if $dir -}}
    {{- $crumb = delimit (split $dir "/") " / " -}}
  {{- end -}}
{{- end -}}
{{- $desc := "" -}}
{{- if .Description -}}{{- $desc = .Description -}}{{- else if .Summary -}}{{- $desc = .Summary | plainify | truncate 100 -}}{{- end -}}
{"t":{{ .Title | jsonify }},"tp":{{ $tp | jsonify }},"u":{{ .RelPermalink | jsonify }},"c":{{ $crumb | jsonify }},"d":{{ $desc | jsonify }}}
